colorama==0.4.6
graphviz==0.20.3
levenshtein==0.27.3
intervaltree==3.2.1
n64img==0.3.3
pyelftools==0.33
pygfxd==1.0.5
pylibyaml==0.1.0
pypng==0.20220715.0
PyYAML==6.0.3
rabbitizer==1.16.2
sortedcontainers==2.4.0
spimdisasm==1.42.2
tqdm==4.68.3
watchdog==6.0.0
